.chart {
    margin-top: 3em;
    padding: 1em;
}
.first-graph {
    margin-bottom: 3em;
}
.about {
    font-size: .85em;
}

.search {
    background: none;
    border: 1px solid white;
    border-radius: 0;
}
.search:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #2f20ff 25%, #20bd28 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    /* background-image:linear-gradient(to bottom right, #2f20ff 25%, #20bd28 50%, #fec837 75%, #fd1892 100%); */
    /* color: black; */
}
.card {
    box-shadow: 5px 5px 0px #2320bd ;
}